<img src="./images/chicago.jpg" alt="" />
<img src="./images/los-angeles.jpg" alt="" />
<img src="./images/new-york.jpg" alt="" />

<script>
  const imgs = document.querySelectorAll("img");

  imgs.forEach((img) =>
    img.addEventListener("click", (e) =>
      alert(e.currentTarget.getAttribute("src"))
    )
  );
</script>
