<p>1</p>
<p>2</p>
<p>3</p>
<p>4</p>
<p>5</p>
<p>6</p>
<p>7</p>
<p>8</p>
<p>9</p>
<p>10</p>

<script>
  const pars = document.querySelectorAll("p");

  pars.forEach((p) =>
    p.addEventListener("click", function (e) {
      const num = Number.parseInt(this.textContent);
      const result = num ** 2;
      this.textContent = result;
    })
  );
</script>
