<p>
    <a
      href="https://javascript.info/mousemove-mouseover-mouseout-mouseenter-mouseleave"
    >Link1</a
</p>
<p><a href="https://javascript.info/">Link2</a></p>
    

<script>
    const links = document.querySelectorAll('a');

    links.forEach(a => a.addEventListener('mouseover', handleEvent));
    function handleEvent(e) {
        this.textContent += ` href: ${this.href}`;
        this.removeEventListener('mouseover', handleEvent);
    }
</script>