<style>
  .correct {
    border-color: greenyellow;
  }
  .incorrect {
    border-color: red;
  }
</style>

<p><input type="text" data-length="3" />Length: 3</p>
<p><input type="text" data-length="0" />Length: 0</p>

<script>
  const inputs = document.querySelectorAll("input");

  inputs.forEach((input) =>
    input.addEventListener("blur", function (e) {
      let length = this.dataset.length
      this.classList.remove('incorrect', 'correct');
      if (this.value.length != length)
        this.classList.add("incorrect");
      else this.classList.add("correct");
    })
  );
</script>
