<style>
    #elem.lazarchuck {
        border-top-style: dotted;
    }
    #elem.mikhail {
        border-right-style: dashed;
    }
    #elem.sergiovich {
        border-bottom-style: groove;
    }
    #elem {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 10px solid orange;
    }
    
</style>

<div id="elem" class="lazarchuck mikhail sergiovich"></div>
<button id="addP">додає клас П</button>
<button id="list">Виведення к-сті підключених класів (console)</button>
<script>
    const elem = document.querySelector('#elem');
    elem.classList.remove('mikhail');
    elem.classList.contains('mikhail');

    addP.addEventListener('click', function(e) {
        elem.classList.toggle('lazarchuck');
    });
    list.addEventListener('click', function(e) {
        console.log('К-сті підключених класів елемента:', elem.classList.length);
        console.table(Array.from(elem.classList.values()));
    });
</script>