<ol>
    <li>Line 1</li>
    <li>Line 2</li>
    <li>Line 3</li>
</ol>
<button class="add">Додати</button>
<button class="del">Видалити</button>

<script>
    const ol = document.querySelector('ol');
    const add = document.querySelector('.add');
    const del = document.querySelector('.del');

    add.addEventListener('click', function(e) {
        const li = document.createElement('li');
        li.textContent = 'Inserted line'
        ol.append(li);
    });
    del.addEventListener('click', function(e) {
        ol.lastElementChild.remove();
    });

    ol.addEventListener('click', function(e) {
        if (e.target.tagName != 'LI')
            return;
        e.target.remove();
    });
</script>