<style>
  .accordion {
    width: 500px;
  }
  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    background: #aaa;
  }

  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    background: white;
  }

  details[open] {
    padding: 0.5em;
  }

  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
</style>

<main>
  <div class="accordion" data-accordion>
    <details>
      <summary>Lorem ipsum dolor sit amet.</summary>
      Lorem ipsum dolor sit amet.
    </details>
    <details>
      <summary>Lorem, ipsum.</summary>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, labore.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium aut
      repudiandae ea nobis cumque nam quidem quae. Vero, ullam sequi.
    </details>
    <details>
      <summary>Lorem.</summary>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione mollitia
      quis quisquam quidem officiis sed.
    </details>
  </div>
</main>
<script>
  document.addEventListener(
    "toggle",
    function (e) {
      const parent = event.target.closest("[data-accordion]");
      if (!parent) return;
      if (!event.target.hasAttribute("open")) return;
      
      // Відкрити target закрити всі інші 
      const opened = parent.querySelectorAll("details[open]");

      for (const accordion of opened) {
        if (accordion === event.target) continue;
        accordion.removeAttribute("open");
      }
    },
    true
  );
</script>
