<style>
  #div-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
  }
  #div-block > div {
    height: 50px;
    width: 50px;
    border: 1px solid black;
  }
</style>
<main>
  <button type="button" id="new-element">New Element</button>
  <div id="div-block">
    
  </div>
</main>

<script>
  const divBlock = document.querySelector("#div-block");
  const makeNew = document.querySelector("#new-element");

  makeNew.addEventListener("click", function (e) {
    const randomColor = Math.floor(Math.random() * 16777215).toString(16);
    const div = document.createElement("div");
    div.style.backgroundColor = `#${randomColor}`;
    divBlock.appendChild(div);
  });
  divBlock.addEventListener('click', function(e) {
    if(e.target === this) return;
    e.target.parentElement.removeChild(e.target);
  })
</script>
