<style>
  .forum {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
  }
  .forum form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .forum {
    color: black;
    padding: 30px;
  }
  form > input[name="name"] {
    width: 300px;
  }
  p {
    margin: 0;
  }
  hr {
    width: 100%;
    height: 2px;
    margin-top: 10px;
  }
  .comments > * {
    padding: 20px 0;
  }
</style>
<main>
  <div class="forum">
    <article>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident minus
      recusandae accusamus quidem asperiores ratione saepe voluptatem, nostrum
      nam deserunt tempora quisquam corporis quibusdam commodi eveniet quae?
      Dolore, blanditiis pariatur.
    </article>
    <hr />
    <div class="comments"></div>
    <hr />
    <form action="">
      <p><b>Leave your comment</b></p>
      <input type="text" name="name" placeholder="Name" />
      <label for="comment">Comment</label>
      <textarea name="comment" id="comment" cols="30" rows="10"> </textarea>
      <button type="add">Send</button>
    </form>
  </div>
</main>

<script>
  const comments = document.querySelector(".comments");
  const form = document.querySelector("form");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    comments.insertAdjacentHTML(
      "beforeend",
      `<div><p>${form.name.value || "Anonim"}</p>${
        new Date().toISOString().split("T")[0]
      }<p><p>${form.comment.value}</div>`
    );
  });
</script>
